
/* Buttons */

@import 'f3.colors';

.btn-super-small,
.btn-small,
.btn-medium,
.btn-great {
	border: none;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
	border: 1px solid #cecece;
	text-align: center;
	white-space: nowrap;
	display: inline-block;
	margin: 1px auto;
  color: #535353;
  background-color: $colorDefault;
  font-family: arial;
  text-decoration: none;
  
  &:hover {
    background-color: $colorDefaultHover;
    border-color: $colorDefaultBorder; 
  }
  
  &:active {
	  background-color: $colorDefaultActive;
    border-color: $colorDefaultBorderActive;
  }
  
  &:focus {
    background-color: $colorDefaultFocus;
    border-color: $colorDefaultBorderFocus;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:active,
  &:disabled:focus {
    @extend .btn-disabled;
  }
  
}

.btn-disabled {
  border: 1px solid $colorBorderDisabled!important;
  background-color: $colorDisabled!important;
  color: $colorTextDisabled!important;
}

.btn-super-small {
	padding: 3px;
	font-size: 10px;
}

.btn-small {
	padding: 5px;
	font-size: 12px;
}

.btn-medium {
	padding: 10px;
	font-size: 14px;
}

.btn-great {
	padding: 15px;
	font-size: 16px;
}

@media only screen and (max-width: 600px) {
  //...
}

@media only screen and (max-width: 480px) {
	.btn-super-small, .btn-small, .btn-medium, .btn-great {
		width: 100%;
		margin: 0 0 5px 0;
		display: inline-block;
	}
}

/* Button Colors */

.btn-blue,
.btn-orange,
.btn-green,
.btn-red,
.btn-gray {
	color: #FFF;
	display: inline-block;

  &:focus {
    //...
  }

}

.btn-blue {
	border: 1px solid $colorBlueBorder;
  background-color: $colorBlue;

	&:hover {
	  background-color: $colorBlueHover;
    border: 1px solid $colorBlueBorderHover;
	}
	&:active {
	  background-color: $colorBlueActive;
    border: 1px solid $colorBlueBorderActive;
	}
	&:focus {
	  background-color: $colorBlueFocus;
    border: 1px solid $colorBlueBorderFocus;
	}
}

.btn-red {
  background-color: $colorRed;
	border: 1px solid $colorRedBorder;
	
  &:hover {
    background-color: $colorRedHover;
    border-color: $colorRedBorderHover;
	}
	&:active {
	  background-color: $colorRedActive;
	  border-color: $colorRedBorderActive;
	}
  
  &:focus {
    background-color: $colorRedFocus;
    border-color: $colorRedBorderFocus;
  }
  
}

.btn-green {
  background-color: $colorGreen;
	border: 1px solid $colorGreenBorder;

	&:hover {
    background-color: $colorGreenHover;
    border-color: $colorGreenBorderHover;
	}
	&:active {
    background-color: $colorGreenActive;
    border-color: $colorGreenBorderActive;
	}
	&:focus {
    background-color: $colorGreenFocus;
    border-color: $colorGreenBorderFocus;
	}
}

.btn-orange {
	border: 1px solid $colorOrangeBorder;
  background-color: $colorOrange;
	
  &:hover {
    border-color: $colorOrangeBorderHover;
    background-color: $colorOrangeHover;
  }
	&:active {
    border-color: $colorOrangeBorderActive;
    background-color: $colorOrangeActive;
  }
  &:focus {
    border-color: $colorOrangeBorderFocus;
    background-color: $colorOrangeFocus;
  }
  
}

.btn-gray {
	border: 1px solid $colorGrayBorder;
  background-color: $colorGray;
	color: $colorTextGray;

  &:hover {
    border-color: $colorGrayBorderHover;
    background-color: $colorGrayHover;
  }
	&:active {
    border-color: $colorGrayBorderActive;
    background-color: $colorGrayActive;
  }
  &:focus {
    border-color: $colorGrayBorderFocus;
    background-color: $colorGrayFocus;
  }
  
}

//Types buttons
.btn-square {
  border-radius: 0!important;
}
.btn-half-square {
  
  &.btn-super-small {
    border-radius: 0 10px!important;
  }
 
  &.btn-small {
    border-radius: 0 12px!important;
  } 
  
  &.btn-medium {
    border-radius: 0 18px!important;
  } 
  
  &.btn-great {
    border-radius: 0 20px!important;
  } 
  
}
.btn-half-round {
  border-radius: 8px!important;
}
.btn-round {
  border-radius: 50px!important;
}

.btn-full {
  width: 100%;
}

//Buttons Gruop
.btn-gruop {

  display: inline-block;

  .btn-super-small,
  .btn-small,
  .btn-medium,
  .btn-great {

    border-radius: 0 !important;
    //margin: auto -2px;
    margin-left: -1px;
    float: left;

    &:first-child {
      border-top-left-radius: 3px!important;
      border-bottom-left-radius: 3px!important;
    }

    &:last-child {
      border-top-right-radius: 3px!important;
      border-bottom-right-radius: 3px!important;
    }

  }

  .btn-half-square {
  
    &:first-child {
      border-radius: 0 0 0 18px!important;
    }

    &:last-child {
      border-radius: 0 18px 0 0!important;
    }

  }

  .btn-round {
    
    &:first-child {
      border-top-left-radius: 50px!important;
      border-bottom-left-radius: 50px!important;
    }

    &:last-child {
      border-top-right-radius: 50px!important;
      border-bottom-right-radius: 50px!important;
    }
    
  }

  .btn-half-round {
    
    &:first-child {
      border-top-left-radius: 8px!important;
      border-bottom-left-radius: 8px!important;
    }

    &:last-child {
      border-top-right-radius: 8px!important;
      border-bottom-right-radius: 8px!important;
    }
    
  }

  .btn-half-square {

    &.btn-super-small {

      &:first-child {
        border-bottom-left-radius: 10px!important;
      }

      &:last-child {
        border-top-right-radius: 10px!important;
      }

    }

    &.btn-small {

      &:first-child {
        border-bottom-left-radius: 12px!important;
      }

      &:last-child {
        border-top-right-radius: 12px!important;
      }

    }

    &.btn-medium {

      &:first-child {
        border-bottom-left-radius: 18px!important;
      }

      &:last-child {
        border-top-right-radius: 18px!important;
      }

    }

    &.btn-great {

      &:first-child {
        border-bottom-left-radius: 20px!important;
      }

      &:last-child {
        border-top-right-radius: 20px!important;
      }

    }
    
  }

  .btn-square {

    &.btn-super-small,
    &.btn-small,
    &.btn-medium,
    &.btn-great {
  
      border-radius: 0!important;

    }

  }

}