

//Buttons colors
//Color default
$colorDefault: transparent;
$colorDefaultHover: transparent;
$colorDefaultActive: transparent;
$colorDefaultFocus: transparent;
$colorDefaultBorder: #999999;
$colorDefaultBorderHover: #888888;
$colorDefaultBorderActive: #6F6F6F;
$colorDefaultBorderFocus: #535353;

//Color blue
$colorBlue: #4D8AB3;
$colorBlueHover: #3F7294;
$colorBlueActive: #376584;
$colorBlueFocus: #2D526A;
$colorBlueBorder: #2F546C;
$colorBlueBorderHover: #3F7294;
$colorBlueBorderActive: #233F52;
$colorBlueBorderFocus: #1A2E3C;

//Color Red
$colorRed: #E33D3D;
$colorRedHover: #DF2424;
$colorRedActive: #CA1E1E;
$colorRedFocus: #AC1A1A;
$colorRedBorder: #C51D1D;
$colorRedBorderHover: #AA1A1A;
$colorRedBorderActive: #8D1616;
$colorRedBorderFocus: #761212;

//Color Yellow (Not used)
$textColorYellow: #727435;
$colorYellow: #F7FB34;
$colorYellowHover: #EEF23B;
$colorYellowActive: #E0E440;
$colorYellowFocus: #D9DD50;
$colorYellowBorder: #C8CB3F;
$colorYellowBorderHover: #385b74;
$colorYellowBorderActive: #365469;
$colorYellowBorderFocus: #334D5F;

//Color Orange
$colorOrange: #FF9520;
$colorOrangeHover: #FF8906;
$colorOrangeActive: #F28000;
$colorOrangeFocus: #E87900;
$colorOrangeBorder: #CC6B00;
$colorOrangeBorderHover: #BB6200;
$colorOrangeBorderActive: #A85800;
$colorOrangeBorderFocus: #914B00;

//Color Green
$colorGreen: #4ECE4E;
$colorGreenHover: #33B733;
$colorGreenActive: #217621;
$colorGreenFocus: #217621;
$colorGreenBorder: #2C9E2C;
$colorGreenBorderHover: #268826;
$colorGreenBorderActive: #217621;
$colorGreenBorderFocus: #1C641C;

//Color Gray
$colorTextGray: #444444;
$colorGray: #F0F0F0;
$colorGrayHover: #DBDBDB;
$colorGrayActive: #CACACA;
$colorGrayFocus: #BEBEBE;
$colorGrayBorder: #999999;
$colorGrayBorderHover: #888888;
$colorGrayBorderActive: #6F6F6F;
$colorGrayBorderFocus: #535353;

$colorBorderDisabled: #e3e3e3;
$colorTextDisabled: #d2d2d2;
$colorDisabled: #f5f5f5;