/*
Author: Francisco Yure <yure.pereira@weyes.com.br>;
Date: 2015-01-12;
Enterprise: Weyes <weyes.com.br>;
*/

/* mixins */
@mixin transition($values) {
	transition: $values;
	-o-transition: $values;
	-ms-transition: $values;
	-moz-transition: $values;
	-webkit-transition: $values;
}

/* Menu Main */
.menu-wrap {
	font-size: 12px;
	ul {
		margin: 0;
		padding: 0;
		position: relative;
		float: left;
		li {
			float: left;
			/* @todo Revision */
			margin: 0;
			padding: 0;
			list-style: none;
			position: relative;
			@include transition(all .2s .1s);
			&:hover {
				background: #bbb;
				/*@todo Revision */
			}
			a {
				display: block;
				padding: 10px;
				text-decoration: none;
				color: #000;
				white-space: nowrap;
				/* @todo Revision */
				@include transition(all .35s ease);
				&:hover, &:active, span {}
			}
			&.submenu-wrap ul {}

			&.submenu-wrap-right {
				ul {
					right: 0;
					ul {
						left: -100%;
						right: inherit;
					}
				}
			}

			ul {
				display: none;
				position: absolute;
				background: #bbb;
				z-index: 1;
			}
			&.submenu:hover > ul {}
			&:hover > ul {
				display: block;
			}
			&.submenu-wrap ul li {
				float: none;
				background: #bbb;
				/* @todo Revision */
				a {
					min-width: 150px;
				}
				&:hover {
					background: #ccc;
				}
				a {
					&:active, span {}
				}
			}
		}
		> li {
			/*border: 1px solid #000;/* @todo Remove */
			background: #ccc;
			/* @todo Revision */
		}
		> li a:hover, > li a:active, > li a span {}
		ul ul {
			position: absolute;
			top: 0;
			left: 100%;
		}
	}
	> ul > li > a:hover {}
}

/* Sub Menu */

/* Menu Horizontal */

.menu-horizontal {}

/* Menu Vertical */

.menu-vertical {
	float: left;
	width: 100%;
	ul {
		li {
			width: 100%;
		}
		left: 0;
		ul {
			position: absolute;
			top: 0;
			left: 100%;
		}
	}
}

/* System grid Menu */
@media only screen and (max-width: 480px) {
	.menu-wrap {
		> ul {
			> li {
				width: 100%;
				a {
					text-align: center;
				}
				> ul {
					position: relative;
					width: 100%;
					> li {
						background: #4F4F4F !important;
						ul {
							width: 100%;
							position: static;
							float: none;
							> li {
								background: #575757 !important;
								> a {

								}
							}
						}
					}
				}
			}
		}
	}
	.menu-vertical {
		ul {
			ul {
				left: 0;
			}
		}
	}
}

/* menu-nav */

.menu-list ul {
	padding: 0 0 10px 0;
	li {
		padding: 5px 0;
		text-align: left;
		a {
			color: #000;
			text-decoration: none;
			&:hover, &:focus {
				text-decoration: underline;
			}
		}
		&.menu-list-title {
			font-size: 15px;
			font-weight: 700;
			padding: 10px 0 15px 0;
			min-height: 40px;
		}
	}
}

/* Menu Size */

.menu-super-small ul li a {
	padding: 5px;
	font-size: .8em;
}

.menu-small ul li a {
	padding: 10px;
	font-size: 1em;
}

.menu-medium ul li a {
	padding: 15px;
	font-size: 1.2em;
}

.menu-great ul li a {
	padding: 20px;
	font-size: 1.4em;
}

/* Icons */

i.icon {
	display: inline-block;
	margin: 0 5px 0 0;
	float: left;
	position: relative;
}

.menu-super-small i.icon {
	width: 15px;
	height: 15px;
	top: -2px;
}

.menu-small i.icon {
	width: 20px;
	height: 20px;
	top: -4px;
}

.menu-medium i.icon, .menu-great i.icon {
	width: 25px;
	height: 25px;
	top: -5px;
}
