<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basic Layout - FLex Flash Fast</title>
    <link rel="stylesheet" href="../../../css/reset.css" media="screen" charset="utf-8">
    <!-- f3.gridsystem.css css para criação do layout -->
    <link rel="stylesheet" href="../../../css/f3.gridsystem.css" media="screen" charset="utf-8">
      <!-- f3.text.css css para formatação de texto -->
    <link rel="stylesheet" href="../../../css/f3.texts.css" media="screen" charset="utf-8">
    <!-- f3.menu.css css para criação do menu -->
    <link rel="stylesheet" href="../../../css/f3.menu.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="css/styles.css" media="screen" charset="utf-8">
  </head>
  <body>

    <header class="container" id="header">

      <div class="row">
        <div class="col-3" id="logo">

        </div>
        <div class="col-9">

        </div>
      </div>

      <div class="row" id="menu">
          <nav class="col-12 menu-wrap">
            <ul>
              <li><a href="#">Página Incial</a></li>
              <li><a href="#">Quem Somos</a></li>
              <li><a href="#">Serviços</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Orçamento</a></li>
              <li><a href="#">Contato</a></li>
            </ul>
          </nav>
      </div>

    </header>

    <main class="container" id="content">

      <div class="row">
        <div class="col-12">
          <h1 class="text-center">Lorem Ipsum</h1>
        </div>
      </div>

      <div class="row">

        <div class="col-6">
          <h2>O que é Lorem Ipsum?</h2>
          <p>
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
          </p>
        </div>

        <div class="col-6">
          <h2>Porque nós o usamos?</h2>
          <p>
            É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de "Conteúdo aqui, conteúdo aqui", fazendo com que ele tenha uma aparência similar a de um texto legível. Muitos softwares de publicação e editores de páginas na internet agora usam Lorem Ipsum como texto-modelo padrão, e uma rápida busca por 'lorem ipsum' mostra vários websites ainda em sua fase de construção. Várias versões novas surgiram ao longo dos anos, eventualmente por acidente, e às vezes de propósito (injetando humor, e coisas do gênero).
          </p>
        </div>

      </div>

    </main>

    <footer class="container-full" id="footer">

      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <p>
              ©2014 - 2016 Todos os direitos reservados.
            </p>
          </div>
        </div>
      </div>

    </footer>

  </body>
</html>
